#hero .img--bg--arms {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}

#hero .hero__arms {
    position: relative;
    z-index: 3;
}


#hero .hero__title__arms {
    color: var(--color-primary);
    font-weight: 700;
    padding: 0.75rem;
}

#hero .hero__title__arms:nth-child(3n+2) {
    color: var(--color-white);
}

.exercise--arms {
    padding: 0.5rem;
}

.exercise__wrapper--arms {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.exercise__poster--arms {
    width: 100%;
    border-radius: 5px;
}

.exercise__title--arms {
    margin-top: 1rem;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .exercises__container--arms {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .exercises__categories__main__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }

    .exercise__categories {
        padding: 4rem 1rem 3rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }
    
    .exercise__category__name {
        text-decoration: none;
        margin-bottom: 0.50rem;
        f
    }
}

@media screen and (min-width: 1024px) {
    #hero .hero__title__arms {
        text-align: start;
    }

    #hero .hero__arms {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    #hero .hero__arms {
        max-width: 1200px;
    }

    .exercises__container--arms {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }

    .exercise__category__name:hover {
        color: var(--color-primary);
        cursor: pointer;
        transition: color 250ms ease-in-out;
    }

    .exercises__categories__main__wrapper {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }
}